<a href="https://colab.research.google.com/github/garmartirosy/GithubActions/blob/main/Pipeline/Create_Database_from_Pandas_Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Project overview:  
https://model.earth/OpenFootprint/trade

In [ ]:
import pandas as pd

def infer_data_types(df, db_type='postgres'):
    """
    Infers SQL data types for each column in a DataFrame based on its contents,
    and adjusts the inferred type based on the database type (PostgreSQL or DuckDB).

    Args:
    df (pd.DataFrame): The DataFrame to infer data types for.
    db_type (str): The type of database to infer types for ('postgres' or 'duckdb').

    Returns:
    dict: A dictionary with DataFrame column names as keys and inferred SQL data types as values.
    """

    inferred_types = {}

    for column_name, column_data in df.items():
        if pd.api.types.is_integer_dtype(column_data):
            if db_type == 'postgres':
                inferred_types[column_name] = 'INT'
            elif db_type == 'duckdb':
                inferred_types[column_name] = 'BIGINT'  # DuckDB uses BIGINT for integer types
        elif pd.api.types.is_float_dtype(column_data):
            if db_type == 'postgres':
                inferred_types[column_name] = 'FLOAT'
            elif db_type == 'duckdb':
                inferred_types[column_name] = 'DOUBLE'  # DuckDB uses DOUBLE for floating point numbers
        elif pd.api.types.is_bool_dtype(column_data):
            inferred_types[column_name] = 'BOOLEAN'  # BOOLEAN is supported in both PostgreSQL and DuckDB
        elif pd.api.types.is_datetime64_any_dtype(column_data):
            inferred_types[column_name] = 'TIMESTAMP'  # TIMESTAMP is supported in both PostgreSQL and DuckDB
        else:
            # Handle string types with VARCHAR based on max length
            max_length = column_data.astype(str).map(len).max()
            if db_type == 'postgres':
                inferred_types[column_name] = f'VARCHAR({2 * max_length})' if max_length > 0 else 'VARCHAR(255)'
            elif db_type == 'duckdb':
                inferred_types[column_name] = f'VARCHAR({2 * max_length})' if max_length > 0 else 'VARCHAR'

    return inferred_types


def generate_create_table_sql(table_name, df, db_type='postgres'):
    """
    Generates a SQL CREATE TABLE statement from the DataFrame,
    automatically inferring data types from the DataFrame.

    Args:
    table_name (str): Name of the table to be created.
    df (pd.DataFrame): The DataFrame from which to infer data types and column names.
    db_type (str): The type of database ('postgres' or 'duckdb').

    Returns:
    str: A SQL CREATE TABLE statement.
    """

    # Infer data types for the DataFrame
    inferred_types = infer_data_types(df, db_type=db_type)

    # Start the CREATE TABLE statement
    create_stmt = f"CREATE TABLE {table_name} ("

    # Generate column definitions using DataFrame column names
    column_definitions = [f"{col} {inferred_types[col]}" for col in df.columns]

    # Join column definitions and complete the SQL statement
    create_stmt += ", ".join(column_definitions) + ");"
    return create_stmt


def generate_insert_sql(table_name, df, db_type='postgres'):
    """
    Generates a SQL INSERT statement for a DataFrame, adjusting for PostgreSQL or DuckDB placeholder styles.

    Args:
    table_name (str): Name of the SQL table.
    df (pd.DataFrame): The DataFrame containing the data to be inserted.
    db_type (str): The type of database ('postgres' or 'duckdb').

    Returns:
    tuple: A SQL INSERT INTO statement and a list of lists of values for parameterized execution.
    """
    # Determine placeholder based on database type
    placeholder = '%s' if db_type == 'postgres' else '?'

    # Use the DataFrame's column names for the INSERT statement
    column_names = ", ".join(df.columns)
    placeholders = ", ".join([placeholder for _ in df.columns])
    insert_stmt = f"INSERT INTO {table_name} ({column_names}) VALUES ({placeholders});"

    # Convert NaN to None for SQL NULL compatibility and prepare values for all rows
    values = [
        [value if pd.notnull(value) else None for value in row]
        for _, row in df.iterrows()
    ]

    return insert_stmt, values
def create_and_insert_tables_final(cursor, table_name, df, db_type='postgres'):
    """
    Creates a SQL table and inserts data from a DataFrame into it using bulk insertion.

    Args:
    cursor: The cursor to execute SQL commands.
    table_name (str): The name of the SQL table.
    df (pd.DataFrame): The DataFrame containing the data to be inserted.
    db_type (str): The type of database ('postgres' or 'duckdb').
    """

    # Step 1: Generate and execute the CREATE TABLE statement
    try:
        create_table_sql = generate_create_table_sql(table_name, df, db_type=db_type)
        cursor.execute(create_table_sql)
        print(f"Table '{table_name}' created successfully.")
    except Exception as e:
        print(f"Error creating table '{table_name}': {e}")
        return

    # Step 2: Generate the INSERT statement and values
    try:
        insert_stmt, insert_values = generate_insert_sql(table_name, df, db_type=db_type)

        # Step 3: Execute the INSERT statement using executemany for bulk insertion
        cursor.executemany(insert_stmt, insert_values)
        print(f"Data inserted successfully into '{table_name}'.")
    except Exception as e:
        print(f"Error inserting data into '{table_name}': {e}")

In [ ]:
import pandas as pd
import psycopg2
from io import StringIO  # Import StringIO for in-memory file operations
import time  # Import time to add delays if needed







# Supabase credentials - Replace with your credentials
supabase_url = "https://mfckwbbvsijzyckpzlno.supabase.co"
supabase_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1mY2t3YmJ2c2lqenlja3B6bG5vIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzEzNzIyNzIsImV4cCI6MjA0Njk0ODI3Mn0.tpvsRq4BpUf4ycCX_IRBzPpa71JTh0xOjZyHCcuANIU"

# PostgreSQL connection details from Supabase (find this in your Supabase dashboard under Settings > Database)
db_host = "aws-0-us-west-1.pooler.supabase.com"
db_name = "postgres"
db_user = "postgres.mfckwbbvsijzyckpzlno"
db_password = "ModelEarth2@123"
db_port = "6543"

# Function to drop a table

data = {
    'order_id': [1, 2, 3, 4, 5],
    'product_price': [1.1, 2.2, 3.3, 4.4, 5.5],
    'is_available': [True, False, True, False, True],
    'purchase_date': pd.to_datetime(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']),
    'product_name': ['apple', 'banana', 'cherry', 'date', 'elderberry'],
    'misc_data': [1, 'text', 3.14, True, None]
}

df = pd.read_feather("/content/IOT_2018_ixi.feather")

conn = psycopg2.connect(
    host=db_host,
    database=db_name,
    user=db_user,
    password=db_password,
    port=db_port
)


try:
    cur = conn.cursor()
    create_and_insert_tables_final(cur, 'tbl11', df, db_type='postgres')
    conn.commit()
    cur.close()
except Exception as e:
    print(f"Database operation failed: {e}")
finally:
    conn.close()

Error creating table 'tbl11': syntax error at or near "IN"
LINE 1: ..., US INT, JP INT, CN INT, CA INT, KR INT, BR INT, IN INT, MX...
                                                             ^